torch>=2.1.0
torchvision
transformers>=4.40.0

einops
einops-exts
faiss-cpu
pillow
datasets
braceexpand
webdataset
wandb
nltk
scipy
inflection

sentencepiece>=0.1.99
pycocotools
pycocoevalcap

open_clip_torch>=2.20.0
